* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', sans-serif;
}


h2 {
    color: chocolate;
    text-transform: uppercase;
}

p {
    color: #565656;
    font-size: 18px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background: url('img/produkty.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-color: gray;
    background-blend-mode: multiply;
    background-repeat: no-repeat
}

 /**** Navigation menu ****/
.navbar-menu  {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;
}

.brand-logo {
    font-size: 40px;
    color: chocolate;
    margin: 0 10px;
    margin-bottom: 10px;
}

.brand-logo img {
    margin-top: 20px;
    width: 100%;
}

.navbar-menu ul {
    display: flex;
    justify-content: center;
    
}

.navbar-menu li {
    list-style: none;
    margin: 0 10px;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    font-size: 23px;
    
}

.navbar-menu a:hover {
    color: chocolate;
}

/*** About us ***/

.about-us h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-us h2::after {
    content: '';
    display: block;
    width: 200px;
    border-bottom: 1px solid chocolate ;
    margin: 15px auto;
}

.about-us img {
    max-width: 100%;
}

.about-us p {
    text-align: center
}

/*** Production ***/

.production h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    }

.production h2::after {
    content: '';
    display: block;
    width: 200px;
    border-bottom: 1px solid chocolate ;
    margin: 15px auto;
}    


/*** Products ***/

.products h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.products h2::after {
    content: '';
    display: block;
    width: 200px;
    border-bottom: 1px solid chocolate ;
    margin: 15px auto;
}

.products img {
    max-width: 100%;
}

.products p {
    text-align: center;
    margin-bottom: 20px;
}

/***Reviews ***/

.reviews {
    background: fixed;
    background-color:burlywood;
    padding-top: 5px;
}

.reviews h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reviews h2::after {
    content: '';
    display: block;
    width: 200px;
    border-bottom: 1px solid chocolate ;
    margin: 15px auto;
}

.photo-name img {
    width: 25%;
    border-radius: 50px;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}
.reviews cite {
    font-size: 18px;
    color: #565656;
}

.reviews blockquote {
    font-size: 18px;
    color: #565656;
}

.reviews p {
    display: flex;
    padding-top: 70px;
}


/*** Contact ***/ 

.contacts h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contacts h2::after {
    content: '';
    display: block;
    width: 270px;
    border-bottom: 1px solid chocolate ;
    margin: 15px auto;
}

.contacts img {
    width: 100%;
}

.contacts p {
    text-align: center;
    color: #565656;
}

.contacts a {
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 100px;
    text-align: center;
}

.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mail a {
    text-decoration: none;
    color: #565656;
    margin-left: 10px;
}

.mail a:hover {
    color: chocolate;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone a {
    text-decoration: none;
    color: #565656;
    margin-left: 10px;
}

.phone a:hover {
    color: chocolate;
}

.social-media {
    display: flex;
    margin-left: 30px;
}

.my_bttn{
    height: 55px;
    width: 55px;
    background-color: chocolate;
    border: none;
    color: white;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    display: none;
    margin-right: 20px;
}

.my_bttn:hover{
    transform: scale(1.05) 
               translateY(-5px);
}

.my_bttn .fa-arrow-up {
    font-size: 25px;
}
  


