* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', sans-serif;
}

h2 {
    color: chocolate;
    text-transform: uppercase;
}

p {
    color: #565656;
    font-size: 18px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background: url('img/produkty.jpg');
    background-size: cover;
    height: 150vh;
    background-attachment: fixed;
    background-color: gray;
    background-blend-mode: multiply;
    background-repeat: no-repeat
}

 /**** Navigation menu ****/
.navbar-menu  {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
}

.brand-logo {
    font-size: 40px;
    color: chocolate;
    margin-right: auto;
    margin-top: 20px;

}

.navbar-menu ul {
    display: flex;
    justify-content: center;
    
}

.navbar-menu li {
    list-style: none;
    margin: 0 10px;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    font-size: 23px;
    
}

.navbar-menu a:hover {
    color: chocolate;
}

/*** About us ***/

.about-us h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-us img {
    max-width: 100%;
}

.about-us p {
    text-align: center
}

/*** Production ***/

.production h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }